<section aria-labelledby="articles-heading" class="results-empty mt-6 lg:col-span-5 lg:mt-0">
  <h2 id="articles-heading" class="sr-only">Articles</h2>
  <div class="relative  h-96 w-full rounded-lg border-2 border-dashed border-gray-300 p-12 flex flex-col items-center justify-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
    </svg>
    <div class="mt-5 block text-sm font-medium text-gray-900 max-w-prose text-center">
      <p class="text-base text-gray-500">There are currently no articles in the database.</p>
      <p class="mt-1 text-base text-gray-500">To load data enter the code below into the terminal and refresh the page.</p>
    </div>
    <div class="mt-6 bg-black py-6 px-12">
      <code class="text-white">
        rake import:news_articles
      </code>
    </div>
  </div>
</section>
